header {
    font-size: 20px;
    height: 70px;
    position: sticky;
}

.logo{
    float: left;
    display: inline-block;

}

.lists{
    list-style: none;
    float: right;
    display: inline-block;
}

li{
    float: left;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color:  black;
}

a:hover{
    color: blue;
}